.item-container {
    width: 250px;
    /* height: 400px; */
    border-radius: 10px;
    background-color: hsla(222, 47%, 11%, 1);
    padding: 8px;
    box-shadow: 0 5px 13px hsla(214, 19%, 29%, 0.2);;
}
.item-container:hover{
    transition:  .5s;
    transform: translateY(-10px);
     box-shadow: 0px 5px 13px hsla(216, 18%, 73%, 0.404);;
}
.art{
    width: 100%;
    border-radius: 5px;
}
.auther{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(221, 219, 219, 0.749);
    font-size: 14px;
}
.profile{
    width: 30px;
    border-radius: 50%;
    margin: 5px 0;
}
.art-name{
    color: white;
    font-weight: 600;
    padding: 10px 0;
    cursor: pointer;
}
.art-name:hover{
    transition: 0.5s;
    color: hsla(262, 83%, 58%, 1);
}
.price{
    background-color: hsla(217, 33%, 17%, 1);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}
.origial-price img,
.bid-price img{
    width: 15px;
}
.price-heading{
    padding: 5px;
    font-size: 14px;
    color: rgba(221, 219, 219, 0.749);
}
.value{
    color: white;
}