.detail-container {
    display: flex;
    width: 60%;
    height: 500px;
    background-color: hsla(222, 47%, 11%, 1);
    margin: 40px auto;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 5px 13px hsla(216, 18%, 73%, 0.404);
    ;
}

.art-image {
    flex: 0.7;
    height: 100%;
}

.art-image>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.detail-content {
    flex: 1;
    padding: 20px;
}

.detail-content h2 {
    text-align: center;
    color: gray;
    margin-bottom: 10px;
}

.detail-content h3 {
    margin: 15px 0 0 0;
    color: gray;
}

.detail-content p {
    text-align: justify;
    padding: 5px 0;
}

@media (max-width:450px) {
    .detail-container {
        flex-direction: column;
    }

    .detail-container {
        font-size: .5rem;
    }

    .detail-content p {
        padding: 2px 0;
    }
    .detail-content h3{
        margin: 0;
    }
}
@media (max-width:1052px) and (min-width:660px) {
    .detail-container{
        font-size: .8rem;
    }
    
}